.board td {
    width: 60px;
    height: 60px;
    text-align: center;
    transition: .5s;
    font-size: x-large;
}
.board td:hover {
    background-color: lightsalmon;
}
.correct {
    background-color: rgb(186, 241, 82);
}